<h2 class="title">{{ site.title }}</h2>
<div class="row justify-content-center" style="margin-top: 1rem;">
    <!-- Email -->
    <span onclick="window.open('mailto:zhenghan714@gmail.com')" style="cursor: pointer" title="mailto:zhenghan714@gmail.com">
      <i class="fa fa-envelope-o" style="font-size:24px;color:grey"></i>
    </span>
    <span style="padding-left: 10px"></span>
    
    <!-- Twitter -->
    <!-- <span onclick="window.open('https://twitter.com/')" style="cursor: pointer">
      <i class="fa fa-twitter" style="font-size:24px;color:grey"></i>
    </span>
    <span style="padding-left: 20px"></span> -->
  
    <!-- GitHub -->
    <span onclick="window.open('https://github.com/cnzjqz-Hanz')" style="cursor: pointer" title="cnzjqz-Hanz">
      <i class="fa fa-github" style="font-size:24px;color:grey"></i>
    </span>
    <span style="padding-left: 10px"></span>
  
    <!-- LinkedIn -->
    <span onclick="window.open('https://www.linkedin.com/in/')" style="cursor: pointer" title="LinkedIn">
      <i class="fa fa-linkedin" style="font-size:24px;color:grey"></i>
    </span>
    <span style="padding-left: 10px"></span>
  
    <span onclick="window.open('https://scholar.google.com/')" style="cursor: pointer" title="Google Scholoar">
      <i class ="fa fa-graduation-cap" style="font-size:24px;color:grey"></i>
    </span>
    <span style="padding-left: 10px"></span>
  
  
    <!-- CV -->
    <span onclick="window.open('../articles/Han_Zheng_CV.pdf')" style="cursor: pointer" title="Download CV">
      <i class ="fa fa-file-text-o" style="font-size:24px;color:grey"></i>
    </span>
</div>
<nav class="sans">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <p><label class="menu-icon" for="menu-btn">Menu</label></p>
    <ul class="site-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/feed.xml">RSS</a></li>
    </ul>
</nav>
